.symbol
{
    button
    {
        height: 60px;
        width:60px;
        border-radius: 100%;
        border:none;
        background-color: blueviolet;
        color:white;
            .icon
            {
                height: 40px;
                width: 40px;
                color:white;
            }
        }
    }
