.section
{
    background-color:#190040;
    .section__body
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .section__col__first,.section__col__second,.section__col__third,.section__col__fourth
        {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            a
            {
                text-decoration: none;
            }
            h3
            {
                color:#8D48FF;
            }
            b
            {
                color: white;
            }
            .button
            {
                height: 50px;
                width: 170px;
                background-color:#8D48FF;
                color:white;
                border-radius: 15px;
                border:none;
                text-align: center;
                text-decoration: none;
                font-size: 16px;
                .arrow
                {
                    text-align: center;
                    margin-top: 7px;
                }
            }
            
        }
    }
    .section__footer
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        h3
        {
            color:white;
        }
        a
        {
            text-decoration: none;
        }
    }
}